version: '3'

services:
  am-role-assignment-service:
    build:
      context: .
    image: hmcts/am-role-assignment-service
    container_name: am-role-assignment-service
    environment:
      - ROLE_ASSIGNMENT_DB_HOST=localhost
      - ROLE_ASSIGNMENT_DB_NAME=role_assignment
      - ROLE_ASSIGNMENT_DB_PORT=5451
      - ROLE_ASSIGNMENT_DB_USERNAME=am
      - ROLE_ASSIGNMENT_DB_PASSWORD=am
      - ROLE_ASSIGNMENT_IDAM_KEY
      - ROLE_ASSIGNMENT_TOKEN_SECRET
      - ROLE_ASSIGNMENT_S2S_AUTHORISED_SERVICES=ccd_gw
      - IDAM_USER_URL
      - IDAM_S2S_URL
      - AZURE_APPLICATIONINSIGHTS_INSTRUMENTATIONKEY
      - REFORM_SERVICE_NAME=am-role-assignment-service
      - REFORM_TEAM=am
      - REFORM_ENVIRONMENT=local
    ports:
      - $SERVER_PORT:$SERVER_PORT
    depends_on:
      - am-role-assignment-database
    links:
      - am-role-assignment-database

  am-role-assignment-database:
    build:
      context: docker/database
    healthcheck:
      interval: 10s
      timeout: 10s
      retries: 10
    environment:
      - ROLE_ASSIGNMENT_DB_USERNAME=am
      - ROLE_ASSIGNMENT_DB_PASSWORD=am
      - POSTGRES_HOST_AUTH_METHOD=trust
    ports:
      - 5451:5432
    volumes:
      - am-role-assignment-database-data:/var/lib/postgresql/am-role-assignment/data
volumes:
  am-role-assignment-database-data:
